# MGT-499 Statistics and Data Science - Individual Assignment

In [98]:
# Import here what you need
import pandas as pd
import matplotlib.pyplot as plt 
import plotly.express as px

This notebook contains the individual assignment for the class MGT-499 Statistics and Data Science. Important information:
- **Content**: the assignment is divided in two main parts, namely data cleaning (2 datasets) and Exploratory Data Analysis, for a total of 13 main questions (see table of contents). Some of these main questions are divided in sub questions. In the first part, the questions are very specific, while in the second part they are more open.
- **Deadline**: Tuesday 8th of November at 23:59. 
- **Final Output**: a Jupyter notebook, which we (teachers) can run. 
- **Answering the Questions**: you will find the questions in markdown cells below. Under each of these cells, you will find a cell / cells for answers. Type there your answer. For the answer to be correct, the cell with the answer must run without error (unless specified). You can use markdown cells for the answers that require text.
- **Submission**: submit the assignment on Moodle, under [Individual Assignment](https://moodle.epfl.ch/mod/assign/view.php?id=1222846)

## Content
- [Polity5 Dataset](#polity5)  
    - [Question 1: Import the data and get a first glance](#question1)
    - [Question 2: Select some variables](#question2)
    - [Question 3: Missing Values](#question3)
    - [Question 4: Check Polity2](#question4)
- [Quality of Government (QOG) Environmental Indicators Dataset](#qog)  
    - [Question 5: Import the data and do few fixes](#question5)
    - [Question 6: Merge QOG and Polity5 ... first attempt](#question6)
    - [Question 7: Merge QOG and Polity5 ... second attempt](#question7)
    - [Question 8: Clean the merged dataframe](#question8)
- [Exploratory Data Analysis](#eda)
    - [Question 9: Selecting the ingredients for the recipe (how I select the variables)](#question9)  
    - [Question 10: Picking the right quantity of each ingredient (how I select my sample)](#question10)
    - [Question 11: Tasting and preparing the ingredients (univariate analysis)](#question11)
    - [Question 12: Cooking the ingredients together (bivariate analysis)](#question12)
    - [Question 13: Tasting the new recipe (conclusion)](#question13)

## Polity5 data <a class="anchor" id="polity5"></a>

Polity5 is a widely used democracy scale. The raw data as well as the codebook are available [here](http://www.systemicpeace.org/inscrdata.html). For this assignment, we have modified a bit the original version, for example we have added the iso3 code for countries to make you save time. You can find the modified version [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv).

### Question 1: import the data and get a first glance <a class="anchor" id="question1"></a>

1a) Import the csv 'polity2_iso3.csv' (file provided in the link [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv)) as a panda dataframe (ignore the warning message) **(1 point)**

In [2]:
# Answer 1a
url = "https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv"
df = pd.read_csv(url, low_memory = False)

1b) Display the first 10 rows **(1 point)**

In [3]:
# Answer 1b
df.head(10)

,iso3,year,p5,cyear,ccode,scode,country,flag,fragment,democ,...,interim,bmonth,bday,byear,bprec,post,change,d5,sf,regtrans
0,NaN,1800,0,2711800,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,1,1,1800,1,-7,88,1,NaN,NaN
1,NaN,1800,0,7301800,730,KOR,Korea,0,NaN,5,...,NaN,1,1,1800,1,1,88,1,NaN,NaN
2,NaN,1800,0,2451800,245,BAV,Bavaria,0,NaN,0,...,NaN,1,1,1800,1,-10,88,1,NaN,NaN
3,NaN,1801,0,7301801,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1801,0,2711801,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1801,0,2451801,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1802,0,7301802,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1802,0,2711802,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1802,0,2451802,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1803,0,7301803,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1c) Display the data types of all the variables included in the data **(1 point)**

In [4]:
# Answer 1c
df.dtypes

iso3         object
year          int64
p5            int64
cyear         int64
ccode         int64
scode        object
country      object
flag          int64
fragment    float64
democ         int64
autoc         int64
polity        int64
polity2     float64
durable      object
xrreg         int64
xrcomp        int64
xropen        int64
xconst        int64
parreg        int64
parcomp       int64
exrec       float64
exconst       int64
polcomp     float64
prior        object
emonth       object
eday         object
eyear        object
eprec        object
interim      object
bmonth       object
bday         object
byear        object
bprec        object
post         object
change       object
d5           object
sf           object
regtrans     object
dtype: object

1d) By looking at your answer in 1c, what is the difference between the different types of variables? Why the type of some variables is defined as object? **(1 point)**

Answer 1d:

### Question 2. Select some variables <a class="anchor" id="question2"></a>

2a) Create a subset dataframe that contains the variables 'iso3', 'country', 'year', 'polity2' and display it **(1 point)**

In [5]:
# Answer 2a
sub_df = df[["iso3", "country", "year", "polity2"]]
sub_df

      iso3       country  year  polity2
0      NaN  Wuerttemburg  1800     -7.0
1      NaN         Korea  1800      1.0
2      NaN       Bavaria  1800    -10.0
3      NaN         Korea  1801      1.0
4      NaN  Wuerttemburg  1801     -7.0
...    ...           ...   ...      ...
17569  ZWE      Zimbabwe  2014      4.0
17570  ZWE      Zimbabwe  2015      4.0
17571  ZWE      Zimbabwe  2016      4.0
17572  ZWE      Zimbabwe  2017      4.0
17573  ZWE      Zimbabwe  2018      4.0

[17574 rows x 4 columns]

2b) Display the type of the variable "year" **(1 point)**

In [6]:
# Answer 2b
sub_df["year"].dtype

dtype('int64')

2c) Convert the variable "year" to string **(1 point)**
<br>
Hint: if you get a warning message of the type "SettingWithCopyWarning", it is because you did not subset the data in the right way. Go back to your class notes and check the different ways to subset a dataframe, and try again. If you do it correctly, you will not get the warning message.

In [7]:
# Answer 2c
sub_df["year"].astype("object")

0        1800
1        1800
2        1800
3        1801
4        1801
         ...
17569    2014
17570    2015
17571    2016
17572    2017
17573    2018
Name: year, Length: 17574, dtype: object

### Question 3: Missing Values <a class="anchor" id="question3"></a>

3a) Subset the rows that have iso3 missing and display **(1 point)**

In [8]:
# Answer 3a
sub_df[(sub_df["iso3"].isna())]

     iso3       country  year  polity2
0     NaN  Wuerttemburg  1800     -7.0
1     NaN         Korea  1800      1.0
2     NaN       Bavaria  1800    -10.0
3     NaN         Korea  1801      1.0
4     NaN  Wuerttemburg  1801     -7.0
...   ...           ...   ...      ...
1272  NaN    Montenegro  2018      9.0
1273  NaN   Sudan-North  2018     -4.0
1274  NaN       Vietnam  2018     -7.0
1275  NaN      Ethiopia  2018      1.0
1276  NaN        Serbia  2018      8.0

[1270 rows x 4 columns]

3b) Display the countries that have missing iso3. What can you tell by looking at them? Any similarities? **(1 point)**

In [9]:
# Answer 3b
sub_df[(sub_df["iso3"].isna())]["country"].unique()

array(['Wuerttemburg', 'Korea', 'Bavaria', 'Saxony', 'Parma', 'Tuscany',
       'Sardinia', 'Modena', 'Two Sicilies', 'Baden', 'Gran Colombia',
       'United Province CA', 'Serbia', 'Orange Free State', 'Yemen North',
       'Czechoslovakia', 'USSR', 'Germany West', 'Germany East',
       'Pakistan', 'South Vietnam', 'Yemen South', 'Vietnam',
       'Yugoslavia', 'Ethiopia', 'Serbia and Montenegro', 'Montenegro',
       'Sudan-North'], dtype=object)

3c) Display the countries with missing iso3 from 2011. **(1 point)**

In [10]:
# Answer 3c
recent_df = sub_df[(sub_df["iso3"].isna()) & (sub_df["year"] >= 2011)]
recent_df

     iso3      country  year  polity2
1230  NaN   Montenegro  2011      9.0
1231  NaN       Serbia  2011      8.0
1233  NaN     Ethiopia  2011     -3.0
1234  NaN  Sudan-North  2011     -4.0
1235  NaN      Vietnam  2011     -7.0
1236  NaN   Montenegro  2012      9.0
1238  NaN       Serbia  2012      8.0
1239  NaN     Ethiopia  2012     -3.0
1240  NaN      Vietnam  2012     -7.0
1241  NaN  Sudan-North  2012     -4.0
1242  NaN      Vietnam  2013     -7.0
1243  NaN   Montenegro  2013      9.0
1244  NaN  Sudan-North  2013     -4.0
1245  NaN     Ethiopia  2013     -3.0
1247  NaN       Serbia  2013      8.0
1248  NaN       Serbia  2014      8.0
1249  NaN     Ethiopia  2014     -3.0
1251  NaN   Montenegro  2014      9.0
1252  NaN  Sudan-North  2014     -4.0
1253  NaN      Vietnam  2014     -7.0
1254  NaN       Serbia  2015      8.0
1255  NaN     Ethiopia  2015     -3.0
1256  NaN  Sudan-North  2015     -4.0
1258  NaN      Vietnam  2015     -7.0
1259  NaN   Montenegro  2015      9.0
1260  NaN   Montenegro  2016      9.0
1262  NaN  Sudan-North  2016     -4.0
1263  NaN       Serbia  2016      8.0
1264  NaN      Vietnam  2016     -7.0
1265  NaN     Ethiopia  2016     -3.0
1266  NaN      Vietnam  2017     -7.0
1268  NaN     Ethiopia  2017     -3.0
1269  NaN       Serbia  2017      8.0
1270  NaN  Sudan-North  2017     -4.0
1271  NaN   Montenegro  2017      9.0
1272  NaN   Montenegro  2018      9.0
1273  NaN  Sudan-North  2018     -4.0
1274  NaN      Vietnam  2018     -7.0
1275  NaN     Ethiopia  2018      1.0
1276  NaN       Serbia  2018      8.0

3d) Display the rows for which the column "country" contains the word "Serbia". By looking at the result, can you tell what happened to Serbia in 2006? **(1 point)**
<br>
Hint: the most general way of doing this is to use a combination of re.search and list comprehension. To display the full subset, you can use print(df.to_string()).

In [11]:
# Answer 3d
df_serbia = sub_df[(sub_df["country"] == "Serbia")]
print(df_serbia.to_string())

     iso3 country  year  polity2
224   NaN  Serbia  1830     -7.0
230   NaN  Serbia  1831     -7.0
252   NaN  Serbia  1832     -7.0
261   NaN  Serbia  1833     -7.0
272   NaN  Serbia  1834     -7.0
286   NaN  Serbia  1835     -7.0
295   NaN  Serbia  1836     -7.0
301   NaN  Serbia  1837     -7.0
318   NaN  Serbia  1838      2.0
333   NaN  Serbia  1839      2.0
344   NaN  Serbia  1840      2.0
357   NaN  Serbia  1841      2.0
363   NaN  Serbia  1842      2.0
369   NaN  Serbia  1843      2.0
387   NaN  Serbia  1844      2.0
394   NaN  Serbia  1845      2.0
410   NaN  Serbia  1846      2.0
420   NaN  Serbia  1847      2.0
429   NaN  Serbia  1848      2.0
439   NaN  Serbia  1849      2.0
450   NaN  Serbia  1850      2.0
467   NaN  Serbia  1851      2.0
475   NaN  Serbia  1852      2.0
482   NaN  Serbia  1853      2.0
492   NaN  Serbia  1854      2.0
502   NaN  Serbia  1855      2.0
523   NaN  Serbia  1856      2.0
533   NaN  Serbia  1857      2.0
542   NaN  Serbia  1858     -9.0
553   NaN  Serbia  1859     -9.0
572   NaN  Serbia  1860     -4.0
575   NaN  Serbia  1861      0.0
583   NaN  Serbia  1862      0.0
593   NaN  Serbia  1863      0.0
601   NaN  Serbia  1864      0.0
608   NaN  Serbia  1865      0.0
611   NaN  Serbia  1866      0.0
623   NaN  Serbia  1867      0.0
628   NaN  Serbia  1868     -3.0
637   NaN  Serbia  1869     -5.0
642   NaN  Serbia  1870     -5.0
651   NaN  Serbia  1871     -5.0
652   NaN  Serbia  1872     -5.0
657   NaN  Serbia  1873     -5.0
660   NaN  Serbia  1874     -5.0
663   NaN  Serbia  1875     -5.0
665   NaN  Serbia  1876     -5.0
669   NaN  Serbia  1877     -5.0
671   NaN  Serbia  1878     -5.0
673   NaN  Serbia  1879     -5.0
676   NaN  Serbia  1880     -5.0
680   NaN  Serbia  1881     -5.0
684   NaN  Serbia  1882     -5.0
686   NaN  Serbia  1883     -5.0
690   NaN  Serbia  1884     -5.0
693   NaN  Serbia  1885     -5.0
694   NaN  Serbia  1886     -5.0
697   NaN  Serbia  1887     -5.0
700   NaN  Serbia  1888     -5.0
704   NaN  Serbia  1889     -5.0
708   NaN  Serbia  1890     -5.0
709   NaN  Serbia  1891     -5.0
714   NaN  Serbia  1892     -5.0
715   NaN  Serbia  1893     -5.0
718   NaN  Serbia  1894     -5.0
722   NaN  Serbia  1895     -5.0
724   NaN  Serbia  1896     -5.0
729   NaN  Serbia  1897     -5.0
730   NaN  Serbia  1898     -5.0
733   NaN  Serbia  1899     -5.0
737   NaN  Serbia  1900     -5.0
739   NaN  Serbia  1901     -5.0
743   NaN  Serbia  1902     -5.0
745   NaN  Serbia  1903      4.0
748   NaN  Serbia  1904      4.0
749   NaN  Serbia  1905      4.0
751   NaN  Serbia  1906      4.0
753   NaN  Serbia  1907      4.0
755   NaN  Serbia  1908      4.0
758   NaN  Serbia  1909      4.0
759   NaN  Serbia  1910      4.0
761   NaN  Serbia  1911      4.0
762   NaN  Serbia  1912      4.0
763   NaN  Serbia  1913      4.0
764   NaN  Serbia  1914      4.0
765   NaN  Serbia  1915      NaN
766   NaN  Serbia  1916      NaN
767   NaN  Serbia  1917      4.0
769   NaN  Serbia  1918      5.0
773   NaN  Serbia  1919      6.0
774   NaN  Serbia  1920      7.0
1213  NaN  Serbia  2006      8.0
1217  NaN  Serbia  2007      8.0
1218  NaN  Serbia  2008      8.0
1224  NaN  Serbia  2009      8.0
1228  NaN  Serbia  2010      8.0
1231  NaN  Serbia  2011      8.0
1238  NaN  Serbia  2012      8.0
1247  NaN  Serbia  2013      8.0
1248  NaN  Serbia  2014      8.0
1254  NaN  Serbia  2015      8.0
1263  NaN  Serbia  2016      8.0
1269  NaN  Serbia  2017      8.0
1276  NaN  Serbia  2018      8.0

3e) Write a function that does the operation in 3d and use it to display the subset that has the word "sudan" (all lower cap) in country. Then do the same for the word "vietnam" (all lower cap). **(1 point)**
<br>
Hint: options of functions can be very useful.

In [12]:
# Answer 3e
def get_subset(country):
    new_df = sub_df[(sub_df["country"] == country)]
    print(new_df.to_string())

In [13]:
get_subset("sudan")

Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []

In [14]:
get_subset("vietnam")

Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []

3f) Replace nan values in iso3 with correct iso3 for the 5 countries found in 3c from 2011 onwards, and display the subset with the fixed values to check that everything worked. **(1 point)**
<br>
Hint: the correct iso3 for these 5 countries are "ETH","MNE","SRB","SDN","VNM".

In [16]:
# Answer 3f
sub_df.loc[sub_df["country"] == "Montenegro", "iso3"] = "MNE"
sub_df.loc[sub_df["country"] == "Serbia", "iso3"] = "SRB"
sub_df.loc[sub_df["country"] == "Ethiopia", "iso3"] = "ETH"
sub_df.loc[sub_df["country"] == "Sudan-North", "iso3"] = "SDN"
sub_df.loc[sub_df["country"] == "Vietnam", "iso3"] = "VNM"

sub_df

      iso3       country  year  polity2
0      NaN  Wuerttemburg  1800     -7.0
1      NaN         Korea  1800      1.0
2      NaN       Bavaria  1800    -10.0
3      NaN         Korea  1801      1.0
4      NaN  Wuerttemburg  1801     -7.0
...    ...           ...   ...      ...
17569  ZWE      Zimbabwe  2014      4.0
17570  ZWE      Zimbabwe  2015      4.0
17571  ZWE      Zimbabwe  2016      4.0
17572  ZWE      Zimbabwe  2017      4.0
17573  ZWE      Zimbabwe  2018      4.0

[17574 rows x 4 columns]

3g) Drop the remaining rows which have nan in "iso3" and display the new number of rows of the dataframe (how many are they?) **(1 point)**

In [24]:
# Answer 3g
df_clean = sub_df.dropna(subset = "iso3")
len(df_clean)

16498

### Question 4: Check Polity2 <a class="anchor" id="question4"></a>

4a) Display the first and last year included in the dataset **(1 point)**

In [49]:
# Answer 4a
print("First year:", df_clean.reset_index().loc[0, "year"], "\nLast year:", df_clean.reset_index().loc[16497, "year"])

First year: 1830
Last year: 2018

4b) What do the values in "polity2" represent? **(1 point)**

Answer 4b:

4c) Do we have weird values for polity2? If yes, why? What should we do about them? Transform the data accordingly. **(1 point)**

Answer 4c:

In [58]:
# Answer 4c
df_clean["polity2"].unique()

array([ -7.,   2.,  -9.,  -4.,   0.,  -3.,  -5.,   4.,  nan,   5.,   6.,
         7.,   1.,   9.,   8.,  -6.,  -8., -10.,  -1.,  -2.,   3.,  10.,
       -88., -66.])

In [66]:
# Removing NaN
sb_df = df_clean.dropna(subset = "polity2")

In [72]:
# Removing -66
sb_df = sb_df.drop(sb_df[sb_df["polity2"] == -66].index)

In [81]:
# Treating -88
sb_df[sb_df["polity2"] == -88] # Just one record
sb_df = sb_df.drop(sb_df[sb_df["polity2"] == -88].index) #Removing it

In [84]:
# Checking for weird values
sb_df["polity2"].unique()

array([ -7.,   2.,  -9.,  -4.,   0.,  -3.,  -5.,   4.,   5.,   6.,   7.,
         1.,   9.,   8.,  -6.,  -8., -10.,  -1.,  -2.,   3.,  10.])

4d) Make a map that shows the number of observations of polity2 by country **(1 point)**

In [118]:
country_df = sb_df.groupby("iso3", as_index = False).count()
country_df.head(5)

  iso3  country  year  polity2
0  AFG      196   196      196
1  AGO       44    44       44
2  ALB      105   105      105
3  ARE       48    48       48
4  ARG      194   194      194

In [116]:
# Answer 4d
map_gps = px.choropleth(
    country_df,                                 # dataframe as argument
    locations = "iso3",                       # column name with location
    locationmode = "ISO-3",                   # location method
    color = "polity2",                       # color countries with altruism value
    color_continuous_scale = px.colors.sequential.Plasma,   # choice of colors
)
map_gps.update_layout( 
    title={                                # Add a title, centered on top
        'text': "Number of Polity2 observations by Country",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})
map_gps.show()

4e) Store the final dataframe (the one you obtained after 4c) in an object called df_pol **(1 point)**

In [123]:
# Answer 4e
df_pol = sb_df
df_pol.head(10)

    iso3 country  year  polity2
224  SRB  Serbia  1830     -7.0
230  SRB  Serbia  1831     -7.0
252  SRB  Serbia  1832     -7.0
261  SRB  Serbia  1833     -7.0
272  SRB  Serbia  1834     -7.0
286  SRB  Serbia  1835     -7.0
295  SRB  Serbia  1836     -7.0
301  SRB  Serbia  1837     -7.0
318  SRB  Serbia  1838      2.0
333  SRB  Serbia  1839      2.0

## Quality of Government Environmental Indicators <a class="anchor" id="qog"></a>

The QoG Environmental Indicators dataset (QoG-EI) (Povitkina, Marina, Natalia Alvarado Pachon & Cem Mert Dalli. 2021). The Quality of Government Environmental Indicators Dataset, version Sep21. University of Gothenburg: The Quality of Government Institute, https://www.gu.se/en/quality-government), is a compilation of indicators measuring countries' environmental performance over time, including the presence and stringency of environmental policies, environmental outcomes (emissions, deforestation, etc.), and public opinion on the environment. Codebook and data are available [here](https://www.gu.se/en/quality-government/qog-data/data-downloads/environmental-indicators-dataset).

### Question 5: Import the data and do few fixes <a class="anchor" id="question5"></a>

5a) Import data from the Quality of Government Environmental Indicators Dataset and display the variables types and the number of rows **(1 point)**
<br>
Hint: When you go on the webpage of the Environmental Indicators Dataset, you can directly import from a URL by copying the link address of the dataset!

In [124]:
# Answer 5a
url = "https://www.gu.se/en/quality-government/qog-data/data-downloads/environmental-indicators-dataset"
df_env = pd.read_csv(url)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 20, saw 2

5b) Rename the variable "ccodealp" to "iso3" **(1 point)**

In [ ]:
# Answer 5b

5c) Check the type of the variables "year" and "iso3" are string, if not convert them to string **(1 point)**

In [ ]:
# Answer 5c

### Question 6: Merge QOG and Polity5 ... issues with QOG? <a class="anchor" id="question6"></a>

6a) Get a subset of the dataframe that includes the variables "cname", "iso3", "year" and "cckp_temp", and display the number of rows. **(1 point)**

In [ ]:
# Answer 6a

6b) Merge this subset (left) and the clean version of the polity data (right), using the argument how="left". Was the merge succesfull? If yes, how many rows has the merged dataframe? Is it the same number of rows of the subset in 6a? **(1 point)**

In [ ]:
# Answer 6b

6c) Do the same by adding the argument validate="one-to-one". Can you make some hypotheses on why you get an error? **(1 point)**

In [ ]:
# Answer 6c

6d) Consider the subset of the QOG you obtained in 6a and write a code to (i) count the number of observations for the variable "cckp_temp" for each combination of iso3 and year, (ii) store the results in a dataframe. For example, the combination "USA-2012" should have 1 observation for "cckp_temp", so the result of your code should be 1. The code should do this for all iso3-year combinations of your subset dataframe, and store the results in a dataframe. **(1 point)**
<br>
Hint: it should not take you more than 2 lines of code.

In [ ]:
# Answer 6d

6e) Use the code in 6d to write a function that displays all rows of the dataframe obtained in 6a that have more than one observation of "cckp_temp" for each iso3-year combination, and check if it works. **(1 point)**

In [ ]:
# Answer 6e

6f) Which countries have more than one observation for each iso3-year combination? Deal with these countries in the subset dataframe created in 6a to make sure you no longer have double observations for iso3-year combinations, and check that after your fix this is actually the case. **(1 point)**
<br>
Hint: should we keep a country with all missing values?

In [ ]:
# Answer 6f

6g) If your check went well, now you can perform the same operation directly in the QOG dataframe (not in the substed dataframe created in 6a). How many rows does now the QOG dataframe has? **(1 point)**

In [ ]:
# Answer 6g

### Question 7: Merge QOG and Polity5 ... issues with Polity5? <a class="anchor" id="question7"></a>

7a) Merge the cleaned QOG dataframe (left) and the Polity dataframe (right) using the options how="left" and validate="one_to_one". Does it work? Why? **(1 point)**

In [ ]:
# Answer 7a

7b) Use the function you wrote in 6e to check what's wrong in the "clean" version of Polity **(1 point)**

In [ ]:
# Answer 7b

7c) Drop or fix the countries that create troubles directly in the "clean" version of Polity and motivate your choices. **(1 point)**

In [ ]:
# Answer 7c

7d) Try now to merge the "clean-clean" versions of COG and Polity (the ones you obtained in 7g and 8c) always using the options how="left" and validate="one_to_one". Does it work, and why? How many rows has the resulting merged dataframe? **(1 point)**

In [ ]:
# Answer 7d

### Question 8: Clean the merged dataframe <a class="anchor" id="question8"></a>

8a) In the merged dataframe, order the columns so that you have the "index" variables first and the variables with actual values last. **(1 point)**
<br>
Hint: index variables are "iso3", "year" and other similar variables you can find, and the variables with actual values are "polity2", "cckp_temp" and other similar variables you can find.

In [ ]:
# Answer 8a

8b) Rename "cname" as "country" and "country" as "country_polity". **(1 point)**

In [ ]:
# Answer 8b

8c) Save the clean merged dataframe as a csv in a subfolder called "clean_data" in your working directory **(1 point)**

In [ ]:
# Answer 8c

## Exploratory Data Analysis <a class="anchor" id="eda"></a>

In this section you will define a research question and perform a preliminary Exploratory Data Analysis (EDA) to address - or better, start addressing - the question at hand. This exercise will be done along the lines of the analysis done by our own Quentin Gallea in "*A recipe to empirically answer any question quickly*" ([Towards Data Science, 2022](https://towardsdatascience.com/a-recipe-to-empirically-answer-any-question-quickly-22e48c867dd5)). In this article, Quentin shows the first steps of an EDA that aims to explore whether heat waves have pushed governments to implement regulations against climate change (causal link). The logic is that, as it gets hotter and hotter, governments become more aware of climate change, and the problems it can cause to society, and start addressing it. In Quentin's analysis, heat waves (proxied by temperature) is the "main explanatory variable", rainfall is the "explanatory variable for heterogeneity", and regulations against climate change (proxied by the Environmental Policy Stringency Index) is the "outcome variable". He finds that indeed countries with relatively high temperatures have implemented more regulations against climate change. This is true especially when rainfall levels are low, as when it does not rain the damage of extreme heat is more evident to legislators, who therefore apply stricter regulations against these phenomenons.
<br>
<br>
In this exercise, you will be asked to do a similar analysis on a research question of your choice, using at least two of the variables of the dataset we have created in the former questions (QOG + Polity). For example, "what is the average temperature in 2010?" is not a valid research question (univariate), while "what is the impact of high temperatures on the stringency of climate regulations?" is a valid research question (at least bivariate). As before, we will ask you some (this time more general and open) questions, and you should report your answer in the cells below each question. Use a mix of markdown and code cells to answer (markdown for text and code for graphs and tables). We should be able to run all the graphs, i.e. screenshots of graphs are not accepted. Note that for now we have put only one markdown cell and one code cell for the answer, but feel free to add as many cells as you need.
<br>
Beyond the python code, we will grade the interpretations of the results and the coding decision you make.
<br>
<br>
Let your creativity guide you and let's have some fun!

### Question 9: Selecting the ingredients (how I select the variables) <a class="anchor" id="question9"></a>
We have saved the clean merged data that resulted from the previous questions in "clean_data_prepared_EDA" (it should be the same of the one you saved in "clean_data"). Import the clean merged data from "clean_data_prepared_EDA" using this [link](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/clean_data_prepared_EDA/df_qog_polity_merged.csv). Explore the variables in the newly obtained dataframe by checking the documentation of QOG and Polity. Then, define a research question that addresses a causal link between at least two of these variables. Describe the research question, why you are addressing it and the variables of interest (outcome variable, main explanatory variable and explanatory variable for heterogeneity). **(3 points)**

Answer 9:

In [ ]:
# Answer 9:

### Question 10: Picking the right quantity of each ingredient (how I select my sample) <a class="anchor" id="question10"></a>
Explore the data availability of your variables of interest and select a clean sample for the analysis. Describe this sample with the help of summary-statistics tables and maps. **(3 points)**

Answer 10:

In [ ]:
# Answer 10:

### Question 11: Tasting and preparing the ingredients (univariate analysis) <a class="anchor" id="question11"></a>
Do an univariate analysis for each variable you have chosen (outcome variable, main explanatory variable and explanatory variable for heterogeneity):
- Prepare the variable, for example see if you need to transform the data further, i.e. log-transform, define a categorical variable, deal with outliers, etc.
- Understand the nature of the variable, i.e. continuous, categorical, binary, etc., which then allows to pick the right statistical tool in the bivariate analysis.
- Get an idea of the variable's behaviour across time and space.

Describe these steps and the conclusions you can draw with the help of histograms, tables, maps and line graphs. **(3 points)**

Answer 11:

In [ ]:
# Answer 11:

### Question 12: Cooking the ingredients together (bivariate analysis) <a class="anchor" id="question12"></a>

Considering the "nature" of your variables (continuous, categorical, binary, etc.), pick the right tool / tools for a preliminary bivariate analysis, i.e. correlation tables, bar/line graphs, scatter plots, etc. Use these tools to describe your preliminary bivariate analysis and your findings. **(3 points)**

Answer 12:

In [ ]:
# Answer 12:

### Question 13: Tasting the new recipe (conclusion) <a class="anchor" id="question13"></a>

Explain what you learned, the problem faced, what would you do next (you can suggest other data you would like to have etc). **(2 points)**

Answer 13: